#Desktop_LeftSidebar_Id {
    background-color: var(--spice-sidebar) !important;
    border-left: 8px solid var(--spice-sidebar) !important;
}

/* #Desktop_LeftSidebar_Id::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    right: -20px;
    background-color: var(--spice-sidebar);
    margin: 0;
    -webkit-mask-image: radial-gradient(circle at bottom right, transparent 70.6%, black 51%);
    mask-image: radial-gradient(circle at bottom right, transparent 70.6%, black 51%);
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
} */

.Root__top-container:has(.BeautifulLyricsPage.Contained.BeautifulLyricsBackground) #Desktop_LeftSidebar_Id {
    display: none;
}

/* .Root__top-container:has(.BeautifulLyricsPage.Contained.BeautifulLyricsBackground) #Desktop_LeftSidebar_Id:hover {
    left: 0;
    opacity: 1;
    visibility: visible;
} */

.spotify__container--is-desktop .Root__top-container {
    padding-top: var(--panel-gap);
    padding-left: 0 !important;
}

.Root__top-container:has(.BeautifulLyricsPage.Contained.BeautifulLyricsBackground) {
    padding-right: 0 !important;
    padding: 0 !important;
    gap: 0;
}

.Root__top-container:has(.BeautifulLyricsPage.Contained.BeautifulLyricsBackground) footer.main-nowPlayingBar-container {
    background: transparent !important;
    backdrop-filter: blur(var(--blur-radius)) saturate(0.9) brightness(0.75);
    /* width: calc(100% - 8px); */
    /* margin-left: 8px; */
    /* margin-bottom: 8px; */
    border: 2px solid #2f2f2f1c;
}

#BeautifulLyricsFullscreenButton svg {
    fill: var(--spice-subtext) !important;
}

.Root__top-container:has(.BeautifulLyricsPage.Contained.BeautifulLyricsBackground) .Root__globalNav {
    opacity: 0;
    height: 0;
}

.Root__top-container:has(.BeautifulLyricsPage.Contained.BeautifulLyricsBackground) .Root__main-view::before {
    border-radius: 0 !important;
}

.Root__top-container:has(.BeautifulLyricsPage.Contained.BeautifulLyricsBackground) footer.main-nowPlayingBar-container div#ambient-container {
    opacity: 0;
}



/* -------------------------------------- Beautiful Lyrics ------------------------------------- */




/* .BeautifulLyricsBackground:is(aside) .BeautifulLyricsBackground-Container {
    opacity: 0.5 !important;
} */

/* .BeautifulLyricsBackground:is(aside) .BeautifulLyricsBackground-Container {
    filter: saturate(2) brightness(1) !important;
} */

.Lyric.Synced.Line {
    --text-shadow-opacity: 0 !important;
}

.ffFwfKcPDbmAPLXzxzKq {
    border-radius: var(--border-radius-1) !important;
}

svg.Svg-sc-ytk21e-0.Svg-img-16-icon.LyricsPageIcon {
    background: var(--spice-subtext) !important;
    mask-image: url(https://raw.githubusercontent.com/Amiru2007/Bloom-Tweaks/main/assets/Icons/mic.svg) !important;
    -webkit-mask-image: url(https://raw.githubusercontent.com/Amiru2007/Bloom-Tweaks/main/assets/Icons/mic.svg) !important;
    width: 16px !important;
    height: 16px !important;
}

button:focus svg.Svg-sc-ytk21e-0.Svg-img-16-icon.LyricsPageIcon {
    background: var(--text-subdued) !important;
}

button:focus svg.Svg-sc-ytk21e-0.Svg-img-16-icon.LyricsPageIcon path {
    opacity: 0 !important;
}

button:hover svg.Svg-sc-ytk21e-0.Svg-img-16-icon.LyricsPageIcon {
    background: var(--spice-text) !important;
}

.main-genericButton-buttonActiveDot:has(.lucide-picture-in-picture-2) svg,
button:has(.LyricsPageIcon) svg {
    background: var(--spice-accent) !important;
}

.main-genericButton-buttonActiveDot:has(.lucide-picture-in-picture-2) svg {
    background: var(--spice-accent) !important;
    mask-image: url(https://raw.githubusercontent.com/Amiru2007/Bloom-Tweaks/refs/heads/main/assets/Icons/picture-in-picture-2.svg) !important;
}

.main-genericButton-buttonActiveDot:has(.lucide-picture-in-picture-2) path,
.main-genericButton-buttonActiveDot:has(.lucide-picture-in-picture-2) rect {
    display: none;
}

button.main-genericButton-button.Button-sc-1dqy6lx-0.Button-small-small-buttonTertiary-iconOnly-isUsingKeyboard-useBrowserDefaultFocusStyle.play.main-genericButton-buttonActive.main-genericButton-buttonActiveDot::after {
    margin-left: 13px !important;
    /* margin-top: 5px; */
    bottom: -2px !important;
}

.main-genericButton-buttonActiveDot:has(.lucide-picture-in-picture-2)::after {
    margin-left: 0px !important;
}

svg.Svg-sc-ytk21e-0.Svg-img-16-icon.LyricsPageIcon path {
    display: none;
}

.main-genericButton-button.main-genericButton-buttonActive svg.Svg-sc-ytk21e-0.Svg-img-16-icon.LyricsPageIcon {
    background: var(--spice-accent) !important;
}

button:has(.LyricsPageIcon):after {
    margin-left: 14px;
    bottom: -2px !important;
}

.main-nowPlayingBar-lyricsButton {
    display: none;
}

.Root__main-view:has(.BeautifulLyricsPage) .main-view-container__scroll-node-child .ViewControls button, .Root__main-view:has(.BeautifulLyricsPage) .main-view-container__scroll-node-child-spacer .ViewControls button, div.os-host:has(.BeautifulLyricsPage) .main-view-container__scroll-node-child .ViewControls button, div.os-host:has(.BeautifulLyricsPage) .main-view-container__scroll-node-child-spacer .ViewControls button {
    pointer-events: all !important;
}
