button.main-globalNav-navLink.main-globalNav-link-icon {
    width: 48px !important;
    height: 48px !important;
    background-color: transparent !important;
    border: 1px solid transparent !important;
    border-radius: var(--border-radius-1) !important;
  transition: all 0.1s ease-in-out;
}

button.main-globalNav-navLink.main-globalNav-link-icon svg {
    width: 24px !important;
    height: 24px !important;
}

button.main-globalNav-navLink.main-globalNav-link-icon path {
    display: none;
}

button.main-globalNav-navLink.main-globalNav-link-icon svg {
    background: var(--text-subdued) !important;
}

button.main-globalNav-navLink.main-globalNav-link-icon.main-globalNav-navLinkActive {
    border: 1px solid var(--spice-main-elevated) !important;
}

button.main-globalNav-navLink.main-globalNav-link-icon.main-globalNav-navLinkActive svg {
    background: var(--spice-accent) !important;
}

button.main-globalNav-navLink.main-globalNav-link-icon.main-globalNav-navLinkActive::after {
    content: '';
    width: 24px;
    height: 3px;
    background: var(--spice-accent);
    position: absolute;
    bottom: 2px;
    border-radius: 9999px;
}

button.main-globalNav-navLink.main-globalNav-link-icon[aria-label*="Marketplace"] svg {
    mask-image: url("https://raw.githubusercontent.com/Amiru2007/Bloom-Tweaks/refs/heads/main/assets/Icons/ic_fluent_app_store_24_regular.svg")
}

button.main-globalNav-navLink.main-globalNav-link-icon.main-globalNav-navLinkActive[aria-label*="Marketplace"] svg {
    mask-image: url("https://raw.githubusercontent.com/Amiru2007/Bloom-Tweaks/refs/heads/main/assets/Icons/ic_fluent_app_store_24_filled.svg")
}

button.main-globalNav-navLink.main-globalNav-link-icon[aria-label*="Home"] svg {
    mask-image: url("https://raw.githubusercontent.com/Amiru2007/Bloom-Tweaks/refs/heads/main/assets/Icons/ic_fluent_home_24_regular.svg")
}

button.main-globalNav-navLink.main-globalNav-link-icon.main-globalNav-navLinkActive[aria-label*="Home"] svg {
    mask-image: url("https://raw.githubusercontent.com/Amiru2007/Bloom-Tweaks/refs/heads/main/assets/Icons/ic_fluent_home_24_filled.svg")
}

button.main-globalNav-navLink.main-globalNav-link-icon:hover svg {
    background: var(--spice-text) !important;
}

button.main-globalNav-navLink.main-globalNav-link-icon.main-globalNav-navLinkActive:hover svg {
    background: var(--spice-accent) !important;
}

button[aria-label="What's New"], button[aria-label="Listening activity"], button[aria-label*="Customizations"] {
  background: transparent !important;
  border: 1px solid transparent !important;
  height: 32px !important;
  width: 32px !important;
  top: 0px !important;
}

button[aria-label="What's New"] path, button[aria-label="Listening activity"] path, button[aria-label*="Customizations"] path, button[aria-label*="Customizations"] circle {
  display: none !important;
}

button[aria-label="What's New"] svg, button[aria-label="Listening activity"] svg, button[aria-label*="Customizations"] svg svg {
    background: var(--text-subdued) !important;
  width: 24px !important;
  height: 24px !important;
  transition: all 0.1s ease-in-out;
}

button[aria-label="What's New"]:hover svg, button[aria-label="Listening activity"]:hover svg, button[aria-label*="Customizations"]:hover svg svg {
    background: var(--spice-text) !important;
}

button[aria-label="What's New"] svg {
    mask-image: url("https://raw.githubusercontent.com/Amiru2007/Bloom-Tweaks/refs/heads/main/assets/Icons/ic_fluent_alert_24_regular.svg");
  mask-size: 24px;
}

button[aria-label="Listening activity"] svg {
    mask-image: url("https://raw.githubusercontent.com/Amiru2007/Bloom-Tweaks/refs/heads/main/assets/Icons/ic_fluent_people_24_regular.svg");
  mask-size: 24px;
}

button[aria-label="Customizations"] svg svg {
    mask-image: url("https://raw.githubusercontent.com/Amiru2007/Bloom-Tweaks/refs/heads/main/assets/Icons/ic_fluent_settings_24_regular.svg");
  mask-size: 24px;
}

button[aria-label="Customizations"] {
    order: -1;
  display: flex;
  align-items: center;
  justify-content: center;
    cursor: pointer;
}

button[aria-label="Customizations"] svg.Svg-sc-ytk21e-0.Svg-img-icon-small {
  display: block;
  width: 24px !important;
  height: 24px !important;
}

.SnlXBd9tDSDjg6w4TqlK.lVgsUuhaE5SIvV2lxRaV { /* main-actionButtons what's new & listening activity buttons container */
    padding-inline: 0px !important;
}

.main-actionButtons {
    order: 2;
}

button.e-10860-legacy-button-primary.e-10860-legacy-button span.e-10860-button-primary__inner {
    background: transparent !important;
}

button.e-10860-legacy-button-primary.e-10860-legacy-button span svg path {
    display: none;
}

button.e-10860-legacy-button-primary.e-10860-legacy-button.pause span svg {
    background: var(--spice-text);
    mask-image: url("https://raw.githubusercontent.com/Amiru2007/Bloom-Tweaks/refs/heads/main/assets/Icons/ic_fluent_pause_16_filled.svg") !important;
}

button.e-10860-legacy-button-primary.e-10860-legacy-button.play span svg {
    background: var(--spice-text);
    mask-image: url("https://raw.githubusercontent.com/Amiru2007/Bloom-Tweaks/refs/heads/main/assets/Icons/ic_fluent_play_24_filled.svg") !important;
}

.OV5qcAEJH6buOXykghv7 button.e-10860-legacy-button-primary.e-10860-legacy-button span svg {
    width: 50px;
    height: 50px;
    mask-size: 50px
}

header.main-topBar-container button.e-10860-legacy-button-primary.e-10860-legacy-button span svg {
    width: 30px;
    height: 30px;
    mask-size: 30px
}

.main-nowPlayingBar-nowPlayingBar button.e-10860-legacy-button-primary.e-10860-legacy-button span svg {
    width: 24px;
    height: 24px;
    mask-size: 24px
}

header.main-topBar-container {
    height: 64px !important;
}

.X92CLCIdgH5PcxglhxRv.contentSpacing {
    padding-top: 0px !important;
}

.main-nowPlayingBar-container {
    width: calc(100% - 15px) !important;
}

a:not([data-encore-id]):hover, a:not([data-encore-id]):focus, a:not([data-encore-id])[data-context-menu-open=true], [data-context-menu-open=true]>a:only-child {
    text-decoration: none !important;
}

.WosRx6NbfxOIFkdobeyk {
    overflow: scroll !important;
}

.t6Jwud2fkYyUBTi8RqaT {
    padding: 0px 0px 64px 0px;
}

.x-progressBar-progressBarBg div[data-testid*="progress-bar-handle"] {
    background: var(--spice-light-border);
    width: 22px;
    height: 22px;
    border: 1px solid var(--spice-button-disabled);
}

.x-progressBar-progressBarBg div[data-testid*="progress-bar-handle"]::after {
    content: '';
    width: 10px;
    height: 10px;
    background: var(--spice-accent);
    border-radius: 50%;
    transition: all 0.15s ease-in-out;
}

.x-progressBar-progressBarBg div[data-testid*="progress-bar-handle"]:hover::after {
    transform: scale(1.3);
}

.kMvOpkTCi8ZAgLVHRKxi,
.tE3l9TnMW6w8Evh_ico2 {
    text-align: center !important;
}

.AJAehY5PvDch63k01sHw.xljhkx9cbmxKi0ds5o5e { /* main playlist list container */
    background: var(--spice-card);
    border: 1px solid var(--spice-light-border);
    border-radius: var(--border-radius-2);
    padding: 0px 12px !important;
}

.AJAehY5PvDch63k01sHw.xljhkx9cbmxKi0ds5o5e .j3mNS2daSmqH4118677h button.play path {
    display: none !important;
}

.AJAehY5PvDch63k01sHw.xljhkx9cbmxKi0ds5o5e .j3mNS2daSmqH4118677h button.play svg,
.AJAehY5PvDch63k01sHw.xljhkx9cbmxKi0ds5o5e .j3mNS2daSmqH4118677h button.pause svg {
    width: 16px !important;
    height: 16px !important;
    mask-size: 16px !important;
}

.AJAehY5PvDch63k01sHw.xljhkx9cbmxKi0ds5o5e .j3mNS2daSmqH4118677h button.play svg {
    background: var(--spice-text) !important;
    mask-image: url("https://raw.githubusercontent.com/Amiru2007/Bloom-Tweaks/refs/heads/main/assets/Icons/ic_fluent_play_24_filled.svg") !important;
}

.AJAehY5PvDch63k01sHw.xljhkx9cbmxKi0ds5o5e .j3mNS2daSmqH4118677h button.pause svg {
    background: var(--spice-text) !important;
    mask-image: url("https://raw.githubusercontent.com/Amiru2007/Bloom-Tweaks/refs/heads/main/assets/Icons/ic_fluent_pause_16_filled.svg") !important;
}

.h3nJTxxmxIYRP5Aft1CC:hover, .h3nJTxxmxIYRP5Aft1CC:focus-within {
    background-color: var(--spice-main-elevated) !important;
}

.h3nJTxxmxIYRP5Aft1CC {
    border-radius: var(--border-radius-2) !important;
}

.WUHV3yvmh_gdGie5wFp4.contentSpacing { /* Playlist main large button container */
    padding-top: 30px !important;
}

.zyugqDUpsiWa8v7oczU1.cJhY7bOAfbdpUsMavIvn {
    margin-left: -40px !important;
    padding: 0 40px !important;
    margin-right: -40px !important;
}