.ffFwfKcPDbmAPLXzxzKq {
    height: calc(100% - 98px) !important;
}

.Root__top-container:has(.BeautifulLyricsPage.Contained.BeautifulLyricsBackground) .Root__right-sidebar .ffFwfKcPDbmAPLXzxzKq {
    height: 100% !important;
    border-radius: 0 !important;
    border-top-right-radius: var(--border-radius-1) !important;
    border-top-left-radius: var(--border-radius-1) !important;
}

.nw2W4ZMdICuBo08Tzxg9 {
    padding-bottom: 6px !important;
}

.artist-artistOnTour-date.artist-artistOnTour-elevated {
    background: transparent !important;
}

aside[aria-label*="Now playing view"] a:hover {
    text-decoration: none !important;
}

.main-nowPlayingView-nowPlayingWidget {
    max-height: 100px !important;
    overflow: visible;
    margin-top: 15px !important;
}

.main-nowPlayingView-nowPlayingGrid {
    flex-direction: row !important;
    overflow: visible;
}

.main-nowPlayingView-nowPlayingWidget .GlueDropTarget.GlueDropTarget--albums.GlueDropTarget--tracks.GlueDropTarget--episodes.GlueDropTarget--local-tracks {
    width: 100px !important;
    height: 100px !important;
}

.main-nowPlayingView-contextItemInfo,
.main-nowPlayingView-nowPlayingGrid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: -webkit-fill-available;
    /* margin-left: 50px; */
}

.Root__right-sidebar:has(.main-nowPlayingView-section, canvas) .main-nowPlayingView-section {
    /* background-color: rgb(0 0 0 / 45%) !important; */
    backdrop-filter: brightness(80%) !important;
}

.main-nowPlayingView-nowPlayingWidget {
    order: -3 !important;
}

.main-nowPlayingView-coverArtContainer.hCImOEZCJwYaSy2r1Xgx.pUIBQ9cykHKYx2A2ZIPA {
    height: 100px !important;
    overflow: visible;
}

.ylBRlfNqGnzVa4kjUQGP,
.ylBRlfNqGnzVa4kjUQGP div {
    max-height: 100px !important;
    height: 100px !important;
    overflow: visible;
}

.LoadingLyricsCard.Loading,
div#BeautifulLyrics-CardView {
    order: -2 !important;
    backdrop-filter: brightness(0.92);
}

.main-nowPlayingView-section.main-nowPlayingView-queue {
    order: -1 !important;
    min-height: 130px !important;
}

.main-nowPlayingView-section.main-nowPlayingView-queue a[href*="/search"] {
    margin-top: 18px !important;
}

.main-nowPlayingView-section:nth-last-child(2) {
    margin-bottom: 10px !important;
}

#BeautifulLyrics-CardView,
.LoadingLyricsCard.Loading {
    max-height: 536px !important;
    height: fit-content !important;
    opacity: 1;
}

.VocalsGroup:nth-last-child(1) {
    padding-bottom: 40px;
}

#BeautifulLyrics-CardView .LyricsContent .ContentContainer {
    height: calc(41cqh + 53px) !important;
}

button.Button-sc-1dqy6lx-0.Button-textSubdued-small-small-buttonTertiary-condensed-useBrowserDefaultFocusStyle.encore-text-body-small-bold.main-nowPlayingView-creditsShowAll::after,
button.Button-sc-1dqy6lx-0.Button-textSubdued-small-small-buttonTertiary-condensed-useBrowserDefaultFocusStyle.encore-text-body-small-bold.main-nowPlayingView-openQueue::after {
    content: "";
    position: absolute;
    right: 0;
    background: var(--spice-subtext);
    width: 18px;
    height: 18px;
    mask-image: url(https://raw.githubusercontent.com/Amiru2007/Bloom-Tweaks/refs/heads/main/assets/Icons/ic_fluent_arrow_right_24_filled.svg);
    -webkit-mask-image: url(https://raw.githubusercontent.com/Amiru2007/Bloom-Tweaks/refs/heads/main/assets/Icons/ic_fluent_arrow_right_24_filled.svg);
}

.main-nowPlayingView-creditsShowAll,
.main-nowPlayingView-openQueue {
    width: 18px !important;
    height: 10px !important;
    font-size: 0 !important;
    background: var(--spice-subtext);
    mask-image: url(https://raw.githubusercontent.com/Amiru2007/Bloom-Tweaks/refs/heads/main/assets/Icons/ic_fluent_arrow_right_24_filled.svg);
}

.main-nowPlayingView-creditsShowAll:hover,
.main-nowPlayingView-openQueue:hover {
    color: transparent !important;
}

.main-nowPlayingView-queue .ix_8kg3iUb9VS5SmTnBY {
    margin-right: 0 !important;
}

.main-nowPlayingView-queue .ix_8kg3iUb9VS5SmTnBY svg {
    background: var(--spice-text);
    mask-image: url(https://raw.githubusercontent.com/nimsandu/spicetify-bloom/main/assets/fluentui-system-icons/ic_fluent_play_24_filled.svg);
    -webkit-mask-image: url(https://raw.githubusercontent.com/nimsandu/spicetify-bloom/main/assets/fluentui-system-icons/ic_fluent_play_24_filled.svg);
}

.BoxComponent-group-listRow-naked-isInteractive-minBlockSize_56px-padding_8px:hover::after {
    background: rgba(var(--spice-rgb-card), 0.3) !important;
}

.artist-artistOnTour-timeAndVenue.artist-artistOnTour-condensed {
    color: var(--text-subdued) !important;
}