


/* ----------------------------------------------------------------- Button Pack ---------------------------------------------------------------------------------------------------------- */



#context-menu button.Button-sc-1dqy6lx-0.Button-buttonTertiary-textSubdued-small-small-useBrowserDefaultFocusStyle-condensed,
.main-dropDown-dropDown,
.Button-sc-y0gtbx-0,
.ShowLyrics,
.Dropdown-control {
    /* background: var(--spice-card) !important;
    border: 1px solid var(--spice-main-elevated) !important; */
    border-radius: 6px !important;
    font-weight: 400 !important;
    backdrop-filter: blur(10px) !important;
    background: rgba(var(--spice-rgb-not-selected), 0.045) !important;
    border: 1px solid rgba(var(--spice-rgb-shadow), 0.045) !important;
    transition: all 0.3s ease !important;
    min-width: 100px !important;
}

#context-menu button.Button-sc-1dqy6lx-0.Button-buttonTertiary-textSubdued-small-small-useBrowserDefaultFocusStyle-condensed {
    color: var(--spice-text);
    height: 32px !important;
    padding: 0 20px;
    min-width: 114px !important;
}

.ButtonInner-sc-14ud5tc-0.ButtonInner-medium.encore-inverted-light-set,
#context-menu button.Button-sc-qlcn5g-0.Button-buttonPrimary-useBrowserDefaultFocusStyle span {
    border-radius: 6px !important;
    font-weight: 400 !important;
    backdrop-filter: blur(10px) !important;
    background: var(--spice-accent) !important;
    border: 1px solid transparent !important;
    transition: all 0.3s ease !important;
    min-width: 114px !important;
    height: 30px;
}

.ButtonInner-sc-14ud5tc-0.ButtonInner-medium.encore-inverted-light-set:hover,
#context-menu button.Button-sc-1dqy6lx-0.Button-buttonTertiary-textSubdued-small-small-useBrowserDefaultFocusStyle-condensed:hover,
#context-menu button.Button-sc-qlcn5g-0.Button-buttonPrimary-useBrowserDefaultFocusStyle span:hover {
    transform: scale(1) !important;
}

.Button-buttonSecondary-small-useBrowserDefaultFocusStyle:hover,
.ShowLyrics:hover {
    transform: scale(1) !important;
    background: rgba(var(--spice-rgb-not-selected), 0.07) !important;
    border: 1px solid rgba(var(--spice-rgb-shadow), 0.05) !important;
}

.playlist-playlist-recommendedTrackList button.Button-sc-y0gtbx-0,
.playlist-playlist-recommendedTrackList button.Button-sc-y0gtbx-0:hover {
    transform: translateX(-5px) !important;
}

span.ButtonInner-sc-14ud5tc-0 {
    border-radius: 6px !important;
    font-weight: 400 !important;
    min-block-size: 32px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.Dropdown-menu {
    background-color: rgba(var(--spice-rgb-main), 0.5) !important;
    backdrop-filter: blur(var(--blur-radius)) saturate(0.5) brightness(100%);
    padding: 8px;
    gap: 6px;
    display: flex;
    flex-direction: column;
}

.Dropdown-menu {
    scrollbar-color: var(--spice-main-elevated) transparent;
    scrollbar-width: thin;
}

.Dropdown-option {
    border-radius: 6px;
}