.umsKuFPqgF42Qhs2m0Ud svg {
    mask-image: url(https://raw.githubusercontent.com/Amiru2007/Bloom-Tweaks/main/assets/Icons/facebook-logo-fill.svg) !important;
    -webkit-mask-image: url(https://raw.githubusercontent.com/Amiru2007/Bloom-Tweaks/main/assets/Icons/facebook-logo-fill.svg) !important;
    background-color: var(--spice-text) !important;
    width: 20px !important;
    height: 20px !important;
    transition: transform 0.3s ease;
}

.umsKuFPqgF42Qhs2m0Ud .IconWrapper__Wrapper-sc-1hf1hjl-0 {
    margin-top: 0 !important;
}

.SN5MVM1k5tAxwKeA7WDr {
    color: var(--spice-text) !important;
}

ul.gtJcoAXGeGQ9ochIvg6h {
    padding-top: 8px !important;
    gap: 16px !important;
}

.rV7v8LWgSCAQH6wodc1N svg.Svg-sc-ytk21e-0.Svg-img-icon-small {
    background: var(--spice-accent) !important;
    mask-image: url(https://raw.githubusercontent.com/Amiru2007/icons-i-nedd-in-my-project-personal/refs/heads/main/ic_fluent_speaker_0_24_filled.svg) !important;
    -webkit-mask-image: url(https://raw.githubusercontent.com/Amiru2007/icons-i-nedd-in-my-project-personal/refs/heads/main/ic_fluent_speaker_0_24_filled.svg) !important;
}

.rV7v8LWgSCAQH6wodc1N svg.Svg-sc-ytk21e-0.Svg-img-icon-small path {
    display: none !important;
}

.dAPXjNmPLJI6x_sXJwAp {
    position: relative !important;
    height: 100% !important;
    width: 100% !important;
}

.Ydxgl4Y23orfVVVI9O2k {
    color: var(--spice-text) !important;
    position: absolute;
    top: -31px;
    margin-left: 24px;
}

.CvWRWfWfmS9_2fgM7c3A {
    padding-inline: 8px !important;
    background: var(--spice-card);
    height: 106px;
    border-radius: var(--border-radius-1);
    padding: 8px;
    position: relative;
}

.cm9IUdJYVsbGCooedALf {
    margin-top: 34px;
    position: absolute;
    padding: 10px;
    background: var(--spice-main);
    border-radius: var(--border-radius-2);
    width: calc(100% - 16px) !important;
    margin-left: 0 !important;;
}

.cm9IUdJYVsbGCooedALf .SN5MVM1k5tAxwKeA7WDr {
    width: calc(100% - 35px) !important;
    margin-left: 20px;
    top: -30px;
    position: absolute;
}

p.encore-text.encore-text-marginal.rV7v8LWgSCAQH6wodc1N {
    display: flex !important;
    align-items: center;
    padding-bottom: 2px;
    padding-left: 0;
    padding-right: 4px;
}

button.cRB7yMdTUrWxDud8Uqvi.play {
    position: absolute;
    right: 8px;
    bottom: 8px;
    left: auto;
    top: auto;
    z-index: 9;
    background: transparent !important;
    opacity: 1 !important;
    cursor: pointer;
}

.cm9IUdJYVsbGCooedALf .fD6FfGUH4oiEHvaEXITg span {
    margin: 0 5px;
}

.jr794VV4i2iUBRhfvS5i .KE3gK5ccLz2gL3dhJ4BW .pO2rsGFqUdaNhpLrif21 {
    font-weight: 400 !important;
}

.Bpdhrb_he3jzWLv40DpE a {
    color: var(--spice-text) !important;
    font-weight: 500 !important;
}

.KE3gK5ccLz2gL3dhJ4BW svg.Svg-sc-ytk21e-0.Svg-img-icon-small {
    background: var(--spice-text);
    mask-image: url(https://raw.githubusercontent.com/Amiru2007/Bloom-Tweaks/refs/heads/main/assets/Icons/equaliser-animated-green.gif);
    height: 14px;
    width: 14px;
}

.KE3gK5ccLz2gL3dhJ4BW svg.Svg-sc-ytk21e-0.Svg-img-icon-small path {
    opacity: 0 !important;
}

.xU4sacBisQneHoQeHMP5 .srjSlmxMGzXnJBc32BJa {
    background-color: rgba(var(--spice-rgb-card), 0.7) !important;
}

.jr794VV4i2iUBRhfvS5i .T3liC_3fbMOTilR4HHKD,
.cm9IUdJYVsbGCooedALf .egK4lu76sYvMmma40Vng {
    fill: var(--spice-subtext) !important;
}

.cm9IUdJYVsbGCooedALf p:nth-last-child(1) a svg {
    fill: var(--spice-subtext) !important;
    color: var(--spice-subtext) !important;
}

aside#Desktop_PanelContainer_Id figure.main-avatar-avatar, aside#Desktop_PanelContainer_Id figure.main-avatar-avatar div {
    width: 24px !important;
    height: 24px !important;
}

.gtJcoAXGeGQ9ochIvg6h div div button[aria-label*="Play"] {
    position: absolute !important;
    bottom: 8px !important;
    right: 8px !important;
    top: auto !important;
    left: auto !important;
    opacity: 1 !important;
    z-index: 2;
    background: transparent !important;
    cursor: pointer !important;
}