.Button-sc-y0gtbx-0 {
    background: rgba(var(--spice-rgb-alt-text), 1) !important;
    border: 1px solid var(--spice-contour) !important;
}

.BoxComponent-group-card-naked-isInteractive-draggable:hover::after {
    background: var(--spice-main) !important;
}

.main-card-PlayButtonContainer .Button-buttonPrimary-useBrowserDefaultFocusStyle-data-is-icon-only[aria-label*="Play"] .IconWrapper__Wrapper-sc-1hf1hjl-0 .Svg-sc-ytk21e-0 {
    background: var(--spice-alt-text) !important;
}

.LegacyChipInner__ChipInnerComponent-sc-1qguixk-0 {
    border-radius: var(--border-radius-2) !important;
}

.LegacyChip__LegacyChipComponent-sc-tzfq94-0:hover>.ChipInnerComponent-sm-selected.ChipInnerComponent-sm-selected {
    background-color: var(--spice-highlight-elevated) !important;
}

.PeLrpasyfBW8ql_bmoAi {
    background: var(--spice-main) !important;
}

button.Button-sc-1dqy6lx-0.Button-buttonTertiary-textBase-medium-medium-useBrowserDefaultFocusStyle-condensedAll.encore-text-body-medium-bold.main-userWidget-box {
    background: var(--spice-not-selected) !important;
}

aside[aria-label*="Now playing view"] h1.encore-text.encore-text-body-medium-bold.encore-internal-color-text-base,
aside[aria-label*="Now playing view"] .main-trackInfo-contentContainer .main-trackInfo-contentWrapper span a,
aside[aria-label*="Now playing view"] .main-nowPlayingView-sectionHeaderText,
aside[aria-label*="Now playing view"] span,
aside[aria-label*="Now playing view"] .artist-artistOnTour-date.artist-artistOnTour-elevated h5,
aside[aria-label*="Now playing view"] .artist-artistOnTour-date.artist-artistOnTour-elevated h1,
aside[aria-label*="Now playing view"] .artist-artistOnTour-info h3 {
    color: var(--spice-alt-text) !important;
}

aside[aria-label*="Now playing view"] span:has(svg) {
    color: var(--spice-text) !important;
}

aside[aria-label*="Now playing view"] p[data-encore-id*="listRowSubtitle"] span span a,
aside[aria-label*="Now playing view"] span[data-testid*="artist-row-role"] {
    color: var(--spice-not-selected) !important;
}

aside[aria-label*="Now playing view"] #context-menu button.Button-sc-1dqy6lx-0.Button-buttonTertiary-textSubdued-small-small-useBrowserDefaultFocusStyle-condensed,
.main-dropDown-dropDown,
.ShowLyrics {
    color: var(--spice-alt-text) !important;
}

.Root__right-sidebar:has(.main-nowPlayingView-section, canvas) .main-nowPlayingView-section {
    background: rgba(var(--spice-rgb-alt-text), 0.5) !important;
}

#BeautifulLyrics-CardView {
    background-color: rgba(var(--spice-rgb-alt-text), 0.1) !important;
}

#BeautifulLyrics-CardView .Header .Title {
    color: var(--spice-alt-text) !important;
}

span.encore-text.encore-text-body-small.main-nowPlayingView-aboutArtistV2Bio {
    color: var(--spice-not-selected) !important;
}

.encore-text.encore-text-body-medium.main-nowPlayingView-aboutArtistV2ListenersCount {
    color: var(--spice-layer-shadow);
}

.main-nowPlayingView-section.main-nowPlayingView-aboutArtistV2 .main-nowPlayingView-sectionHeaderText {
    color: var(--spice-alt-text);
}

.BeautifulLyricsBackground:is(aside) .BeautifulLyricsBackground-Container {
    filter: brightness(0.9);
}

.kh6wYYPvgRPBhA2wj3AS .qp7Sys7hJSZHLzw4K_yF {
    background: rgb(180 180 180 / 50%) !important;
}

aside[aria-label*="Now playing view"] .Button-sc-y0gtbx-0 {
    color: var(--spice-alt-text) !important;
    background: rgba(var(--spice-rgb-not-selected), 0.045) !important;
    border: 1px solid rgba(var(--spice-rgb-shadow), 0.045) !important;
}

button.main-globalNav-link-icon[aria-label*="Home"],
.Root__globalNav .main-globalNav-link-icon.main-globalNav-navLinkActive,
.b7r2WRiu5f9Q99qmyreh .main-topBar-searchBar {
    border: 1px solid #ebebeb !important;
}

.artist-artistOnTour-info p,
.artist-artistOnTour-info span {
    color: var(--spice-not-selected) !important;
}